# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
be-cnpm/build/
fe-cnpm/build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Reference Projects (Local only)
urd/MERN-ECommerce-Full-Stack-Project/
urd/mern-e-commerce-boilerplate/
doc/docx - format/template/

# Temporary Files
**/~$*.docx
**/~$*.xlsx
**/~$*.pptx

